@use '../../../sass/mixins.scss' as *;
@use '../../../sass/colors.scss' as *;
@use '../../../sass/shared.scss' as *;
@use '../../../sass/fonts.scss' as *;


.nav {
	display: flex;
	align-items: center;
	padding: 1.2em;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 4.219em;
}

.navLogo {
	user-select: none;
}

.btn {
	z-index: 10;
}

.navMenu {
	padding: 5.7em 1.7em 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 63%;
	height: 100vh;
	background-color: $a-white;
	transition: transform 0.2s;
	z-index: 9;
}

.link {
	width: 100%;
	column-gap: 1em;
}

.loginBtn,
.registerBtn {
	display: block;
}

.loginBtn {
	margin: 0 auto;
	padding: 1em 0 1.5em;
}

.registerBtn {
	padding: 0.7em 0;
	width: 100%;
	border: 2px solid $a-gray;
	border-radius: 0.9em;
}

@media (min-width: 992px) {
	.nav {
		display: none;
	}
}
